.homeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Mountain of Christmas', cursive;
  min-height: 35vh;
}

.homePresentation {
  color: #e9d362;
  margin: 20px 30px 23px;
  font-size: 6vh;
  text-align: center;
  cursor: default;
}

.btn-grad {
  display: flex;
  text-decoration: none;
  background-image:
    linear-gradient(
      to right,
      #e9d362 0%,
      #333 51%,
      #e9d362 100%
    );
  font-size: medium;
  height: 7vh;
  width: 15vw;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  transition: 0.7s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  justify-content: center;
  margin-top: 20px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .btn-grad {
    height: 7vh;
    width: 50vw;
  }

  .homePresentation {
    font-size: 3.5vh;
  }
}
