body {
  background-image: url('https://static.videezy.com/system/resources/thumbnails/000/041/837/original/snow10.jpg');
  color: white;
  font-family: var(--font);
}

a {
  color: white;
}

.gift {
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
  color: #fff;
  background: #dc163e;
  text-shadow: 0 0 10px #fff;
  width: 60%;
  height: 200px;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
}

.title,
.song {
  font-size: 50px;
}

.song {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 30px;
}

.score {
  margin-top: 15px;
}

.clip {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .gift {
    width: 90%;
    height: 400px;

  }

  .title,
  .song {
    font-size: 50px;
  }

  .clip {
    display: flex;
    margin: auto;
    width: 90%;
  }
}
